# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
vendorTrainingSystem/dist
vendorTrainingSystem/tmp
vendorTrainingSystem/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
vendorTrainingSystem/node_modules/
vendortraining/__pycache__/
vendortraining/models/__pycache__/
vendortraining/models/serializers/__pycache__/
vendortraining/user/__pycache__/
vendortraining/user/migrations/
vendortraining/migrations/
*.pyc

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
